.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  min-height: 100vh;
  padding: 0 50px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100px;
}
* {
  user-select: none;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  user-select: none;
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  font-size: calc(7px + 2vmin);
}

button:focus {
  outline: none;
}

button:hover {
  color: red;
  border: 1px solid red;
}

input {
  font-size: calc(10px + 2vmin);
}

input:focus {
  outline: none;
}
